@use "variables" as *;

.container {
  @include display(flex, row, flex-start, stretch);
  gap: 10px;
  width: 100%;
  min-height: 68px;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background: $white;
  cursor: pointer;
  .Image {
    position: relative;
    @include grid-center;
  }
  .textArea {
    @include display(flex, column, center, flex-start);
    text-align: left;
    .textTitle {
      font-size: 14px;
      font-weight: 700;
    }
    .desc {
      font-size: 12px;
      color: #999999;
      font-weight: 500;
    }
  }
  .point {
    float: right;
    margin-left: auto;
    color: $green;
    font-size: 14px;
    font-weight: 700;
  }
  @include box-shadow(0, 0, 10px, $lightShadow)
}

.container:hover {
  box-shadow: inset 0px 0px 10px $shadowOrange, 0px 0px 10px $lightShadow;
}