@use "variables" as *;

.container {
  background: $accentWhite;
  border-radius: 1rem;
  height: max-content;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  max-width: 373px;
  @include grid-center;
  justify-content: center;
  @include box-shadow(0, 4px, 0, $mediumShadow);
  .Image {
    width: 100%;
    @include grid-center;
  }
  .point {
    color: $green;
    font-size: 14px;
    font-weight: 700;
  }
  .title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
  }
  .desc {
    font-size: 14px;
    font-weight: 500;
  }
  button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    outline: none;
    border: none;
    padding: 7px 16px;
    height: 56px;
    @include grid-center;
    color: $white;
    background: $black;
    border-radius: 99px;
    font-size: 14px;
    cursor: pointer;
  }
}