@use "variables" as *;

.container {
  @include display(flex, row, space-between, stretch);
  width: 100%;
  min-height: 52px;
  height: 100%;
  background: $white;
  @include responsive-type(padding);
  .textTitle {
    font-size: 14px;
    font-weight: 700;
  }
  .point {
    float: right;
    margin-left: auto;
    color: $green;
    font-size: 14px;
    font-weight: 700;
  }
  box-shadow: 0px 0px 10px $lightShadow;
}

.container:hover {
  box-shadow: inset 0px 0px 10px $shadowOrange, 0px 0px 10px $lightShadow;
}