@use "variables" as *;
@import "ActionsList.module" ;

.container {
  .containerTitle {
    @include responsive-type(margin);
  }

  padding: 1rem 0;
  @media screen and (max-width: 800px) {
    padding: 1rem 0;
  }
  @media screen and (max-width: 400px) {
    padding: 1rem 0;
  }
  @media screen and (max-width: 281px) {
    padding: 1rem 0;
  }
}