.container {
  position: sticky;
  top:0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 100%;
  gap:10px;
  color: #000000;
  background: #ffcc33;
  z-index: 2;
  padding: 1rem 3rem;
  @media screen and (max-width: 800px) {
    padding: 1rem 2rem;
  }
  @media screen and (max-width: 400px) {
    padding: 1rem;
  }
  @media screen and (max-width: 281px) {
    padding: 1rem 0.5rem;
  }
}
