@use "variables" as *;

.container {
  position: sticky;
  top:0;
  left: 0;
  @include display(flex, row, space-between, center);
  height: 68px;
  width: 100%;
  gap:10px;
  color: $black;
  background: $orange;
  z-index: 2;
  @include responsive-type(padding);
}
