@use "variables" as *;

.container {
  @include display(flex, row, center, center);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  height: 36px;
  gap: 5px;
  min-width: 123px;
  font-size: 14px;
  border-radius: 99px;
  color: $accentWhite;
  background: $black;
  padding: 0.5rem 1rem;
  .number {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  @media screen and (max-width: 300px) {
    min-width: 105px;
  }
  cursor: pointer;
}
