@use "variables" as *;

.container {
  @include grid-center;
	position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  margin: 30px 0 0 0;
  z-index: 8;
}

.spinner {
  @include grid-center;
	position: relative;
  background-color: purple;
	width: 15vmax;
	height: 15vmax;
	border-radius: 50%;
	background: conic-gradient(
		#3dffc9, #f7c723, #eb0ea5, #3dffc9
	);
	animation: spin 3s linear infinite;
	box-shadow: 0px 0px 150px -75px black;
	border: 4px solid white;

  &:before {
    content: "";
    background-color: white;
    isolation: isolate;
    border-radius: 50%;
    position: absolute;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 150px -70px rgba(0, 0, 0, 0.240);
    border: 4px solid white;
  }

  @keyframes spin {
    from {
      transform: rotate(0)
    }
    to {
      transform: rotate(360deg)
    }
  }
  z-index: 9;
}